*{
    background-color:bisque;
}
.center {
    background:green;
    width: 400px;
    height: 250px;
    display: flex;
    align-items: center;
    border-radius: 25px 25px 25px 0px;
}
.center div{
    background:red;
    width: 150px;
    height: 150px;
    margin:0px  auto;
    padding: auto;
    align-content: center;
    border-radius: 50%;
    align-items: center;
}
.two{
    height: 350px;
    width:10px;
    background-color: black;
}
.two:hover{
    background-color: green;
}
.Three h1{
    background-color: cyan;
    height:50px;
    width: 170px;
    padding: 5px;
}
.Three h1:hover{
    background-color: green;
    color: red;
}
h3{
    color: blue;
    background-color:darkgrey;
    height: 30px;
    width: 250px;
    padding: 5px;
}
h3:hover{
    background-color: green;
    color: red;
}
